@import url("https://fonts.googleapis.com/css2?family=Griffy&family=Montserrat:wght@400;500;600;700;800;900&display=swap");

.main {
  position: relative;
  height: 100vh;
  color: white;
}

.mainBg {
  background: url("/main-bg-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mainHead {
  padding: 20px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto auto;
  align-items: center;
}

.mainBtn {
  background: #fd843f;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: "montserrat", sans-serif;
  font-weight: 600;
  width: fit-content;
}

.mainBody {
  position: relative;
  text-align: center;
  top: 25%;
}

.bodyHead {
  font-family: "griffy", cursive;
  font-size: 56px;
}

.footerSocials {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
}

.socials {
  display: flex;
  justify-content: center;
}

.socialIcon {
  cursor: pointer;
  color: aliceblue;
  transition-duration: 400ms;
}

.socialIcon:hover {
  color: #fd843f;
}

@media screen and (max-width: 480px) {
  .mainHead {
    padding: 20px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto;
  }

  .mobileHid {
    display: none;
  }

  .logoHead {
    font-size: 1.2rem;
  }

  .mainBtn {
    font-size: 0.5rem;
  }
}

@media (prefers-color-scheme: dark) {
}
